<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find armdouble)/config/armdouble_gazebo_joint_position.yaml" command="load" />

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" ns="/armdouble"
        args="joint_state_controller right_group left_group ">
       <param name="/use_smallest_joint_limits" value="False"/>
   </node>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/armdouble/joint_states" />
  </node>

</launch>
 